.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;
  display: grid;
  grid-template-rows: min-content min-content;
  align-content: center;
  justify-content: center;
  gap: 2rem 0;
  text-align: center;
  padding: 3rem;
  &__img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
  }
  &__list {
    display: grid;
    // grid-template-rows: repeat(3, min-content);
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 2rem;
    @media only screen and (max-width: $bg-medium-2) {
      grid-template-columns: repeat(3, min-content max-content);
    }
    @media only screen and (max-width: $bg-small) {
      grid-template-columns: repeat(1, min-content max-content);
    }
  }
  p {
    color: $color-grey-light-1;
  }
  p,
  h4 {
    text-align: left;
  }
  @media only screen and (max-width: $bg-medium-2) {
    grid-column: 1/ -1;
  }
}
