%heading {
  font-family: $font-display;
  font-weight: 400;
}
.heading-1 {
  @extend %heading;
  font-size: 4.5rem;
  line-height: 1;
  color: $color-grey-light-1;
}
.heading-2 {
  @extend %heading;
  font-size: 4rem;
  font-style: italic;
  line-height: 1;
  &--dark {
    color: $color-grey-dark-1;
  }
}
.heading-3 {
  @extend %heading;
  font-size: 1.6rem;
  text-transform: capitalize;
  color: $color-primary;
}

.heading-4 {
  @extend %heading;
  font-size: 1.9rem;
  &--light {
    color: $color-grey-light-1;
  }
  &--dark {
    color: $color-grey-dark-1;
  }
}
.btn{
  background-color: $color-primary;
  border: 0;
  font-family: $font-display;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  padding: 2rem 3rem;
  cursor: pointer;
  transition: all .2s;
  text-transform: uppercase;
  &:active{
    outline: none;
  }
  &:hover{
    background-color: $color-primary-dark;
  }
}
.mg-sm{
  margin-bottom: 2rem;
}
.mg-md{
  margin-bottom: 3rem;
}
.mg-lg{
  margin-bottom: 4rem;
}